<div class="m-quote">
  <b>Õpetajana end analüüsides kasutan kolme küsimust iga päev:</b>
  <ol>
      <li>Mis läks hästi?</li>
      <li>Mida saaks ja peaks teisiti tegema?</li>
      <li>Mida uut tuleks kasutusele võtta, mis praegu puudub?</li>
  </ol>
</div>

<hr>

<h3>Õpetajatöö kompetentside analüüs</h3>

<!-- <hr> -->



<h4>5 valdkonnas:</h4>
<ol>
  <li>
    Uudishimu/avatus
  </li>
  <li>
    Õpivõime/probleemilahendusoskus
  </li>
  <li>
    Suhtlusoskus/meeskonnatööoskus
  </li>
  <li>
    Kommunikatsioon/keel
  </li>
  <li>
    Vaimne/füüsiline tervis
  </li>
</ol>

<h4>
  15 suurt küsimust pika-ajalises plaanis, nii kursuse, mooduli kui eriala kaupa:
</h4>
<ol>
  <li>
    Kelle jaoks õpetan?
  </li>
  <li>
    Mida pakun?
  </li>
  <li>
    Keda õpetan ehk sihtrühm?
  </li>
  <li>
    Kus õpetan?
  </li>
  <li>
    Miks õpetan? Mis on probleem/vajadus/võimalus?
  </li>
  <li>
    Mis on eesmärk? Millist muutust oodata?
  </li>
  <li>
    Mis on mu sõnum?
  </li>
  <li>
    Mis on minu kui õpetaja toon, millise õhustiku loon?
  </li>
  <li>
    Mida tahan, et õpilane pärast tundi/kursust/kooli teaks, tunneks ja teeks?
  </li>
  <li>
    Millised on olulised väärtused ja hoiakud, mida edasi anda?
  </li>
  <li>
    Kellega, millega konkureerin õpilase silmis?
  </li>
  <li>
    Kellega teen koostööd?
  </li>
  <li>
    Milline on mu õpetajatöö aja- ja tegevuskava?
  </li>
  <li>
    Kui palju ja milliseid ressursse mul õpetajana on?
  </li>
  <li>
    Kas on midagi veel, mida silmas pidada?
  </li>
</ol>
