<div class="m-quote">
  Oluline on osata leida teostusväärseid ja leiba lauale toovaid ideid ümbritsevast: eesti keelest, kultuurist ja kodukohast
</div>

<dl class="m-cv__dl">

  <li>
    <dt>2019</dt>
    <dd>
      juhendaja, Kuressaare haiglale vastsündinute kingi kavandamine, Kuressaare ametikooli disainisuuna õmbluseriala täiskasvanud õppijad 
      (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=2225449234229547" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2019</dt>
    <dd>
      juhendaja, eesti-jaapani-krii indiaani õpilaste säästva tarbimise koostööprojekt, Tartu Kunstikooli kujundusgraafika, stilisti, 3D eriala põhikoolijärgsed ja keskkoolijärgsed õppijad 
      (<a href="https://tktotebagproject.wixsite.com/totebag" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2019</dt>
    <dd>
      juhendaja, Eesti vibutootjale Falco nahkaksessuaaride kavandamine ja fotoseeria kontseptsiooni loomine, Kuressaare ametikooli disainisuuna nahkkäsitöö ja kujundusgraafika eriala täiskasvanud õppijad 
      (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=2169873349787136&__tn__=-UCH-R" target="_blank"><b>LINK</b></a> | <a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=2174295952678209" target="_blank"><b>LINK</b></a> | <a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=2172783216162816" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>
      juhendaja, Karl Ernst von Baeri animatsiooni rahvusvahelisel multimeediakonkursil 
        (<a href="https://saartehaal.postimees.ee/6671042/ametikooli-opilane-voitis-usa-s-peapreemia-video" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>
      juhendaja, fotokampaania prügikoristuskampaaniale "Teeme ära", Saaremaa Ühisgümnaasiumi õpilased 
      (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=2153697424738062" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>
      juhendaja, popkultuuri kursuse fotoseeria ilukirurgia telgitagustest, Kuressaare ametikooli disainisuuna põhikoolijärsed stilisti eriala õpilased 
      (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=1841239135983894" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>
        juhendaja, kimonote moedemonstratsioon, Kuressaare ametikooli disainisuuna õmbluseriala täiskasvanud õppijad 
        (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=2050084468432692" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>juhendaja, projekt "Toidukunst: rahvusköögi värvid ja vormid kultuuris ja kunstis", Tartu Kunstikooli kujundaja, dekoraatori, stilisti eriala põhikoolijärgsed ja keskkoolijärgsed õppijad. Projekti toetaja COOP, projekti levitajad Euroopa pärandkultuuriaasta 2018; Eesti Kunstimuuseum; Berliini Eesti kultuuriselts; Folklore, Traditions & Legends; Latvian Favourite Foods; Estoniancuisine; Eesti Toidutee; Alberta Estonian Heritage Society; Eesti Turismifirmade Liit; Restaurants Review; Eesti Maitsed Täna; Sinu laps ei söögi brokolit?; Ehtne Talutoit; Eesti Toit; Eesti Rahvakunsti ja Käsitöö Liit; Eesti Hotellide ja Restoranide Liit, Eesti Peakokkade Ühendus; Oma Maitse; Eesti Folkloorinõukogu 
    (<a href="https://www.facebook.com/pg/tartu.kunstikool/photos/?tab=album&album_id=2138465016167623" target="_blank"><b>LINK</b></a>)</dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>juhendaja, projekti "100 oravat EV aastapäevaks Kuressaare lossiparki", Kuressaare ametikooli disainisuuna täiskasvanud õmbluseriala õppijad
    (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=1658023114305498" target="_blank"><b>LINK</b></a>)</dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>juhendaja, mainekampaania "Kuressaare tuntud ja tegusad toetavad Saaremaa kangakudumise taassündi", Kuressaare ametikooli disainisuuna kangakudumise eriala 5. taseme täiskasvanud õppijad
    (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=1669456109828865" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>
      juhendaja, Saaremaa vanasõnadega T-särkide fotoseeria, Kuressaare ametikooli disainisuuna stilisti eriala täiskasvanud tsükliõppijad 
      (<a href="https://www.facebook.com/pg/MT%C3%9C-Saaremaailm-140846182637341/photos/?tab=album&album_id=1662208690501075" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>
      juhendaja, eesti keele tundesõnade T-särgiprojekt ja sotsiaal&shy;meedia kampaania, Tartu Kunstikooli kujundajad-küljendajad, Kuressaare ametikooli disainisuuna dekoraator-stilistid ja liikuva meedia kujundajad, koostöö&shy;partner Eesti Keele Instituut 
      (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=1525583560882788" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      juhendaja, Kuressaare linnaruumi liitreaalsus&shy;objektide loomine karjääri ja suhtlemise aluste kursusel, interaktiivse graafika täiskasvanud tsükliõppijad
      (<a href="https://www.instagram.com/kaneeliendel/" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      juhendaja, Valjala lasteaia piirdeaiale muinasjutu loomine ja tikkimine, õmbluseriala täiskasvanud õhtuõppijad.
      (<a href="https://www.saartehaal.ee/2017/02/09/valjala-lasteaed-sai-ilmatu-uhke-ja-kireva-aia/" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      juhendaja, Saaremaa Kaubamaja pop-up pood ja töötoad, nahkkäsitöö täiskasvanud tsükliõppijad (lõimitud turundus ja praktika) ja dekoraator-stilistid.
      (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=1125996337508181" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      juhendaja, FB kampaania Kuressaare ametikooli disainisuuna ja Eesti Rahva Muuseumi koostöös mardi- ja kadripäeva propageerimiseks Eesti noortele, dekoraator-stilistid.
      (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=1092430054198143" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      juhendaja, Saaremaa maakonna keskraamatukogu ette lastele võluloomaed, tekstiilieriala täiskasvanud õhtuõppijad.
      (<a href="https://www.facebook.com/kuressaareametikool/videos/10154842722336004/" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016-2019</dt>
    <dd>
      algataja ja projektijuht, EL Erasmus+ projekt “Designstem: integrated design+STEM education” koostöös Eesti, Soome, Hollandi, Saksa, Sloveenia, Itaalia, Portugali, Kreeka kutsekoolide, polütehnikumide ja ülikoolidega. Eesmärk luua multimeedial põhinev õppevara disaini ja reaalainete integreeritud õppeks.
      (<a href="http://ec.europa.eu/programmes/erasmus-plus/projects/eplus-project-details-page/?nodeRef=workspace://SpacesStore/3a0738b6-a335-45e5-919b-ff5b6ae14598" target="blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      juhendaja, viktoriin ja teavituskampaania “Käitu targalt internetis” I aasta dekoraator-stilistide suhtlemise- ja asjaajamisaluste tunnis Kuressaare koolide algklasside õpilastele.
      (<a href="http://ametikool.ee/koolist/uudised/1333-dekoraator-stilistid-jagasid-algklassiopilastele-internetitarkusi-8-06" target="blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2013-2015</dt>
    <dd>Kuressaare Ametikooli disainisuuna projektijuht, EL Comenius projekt “Euro-spuma” koostöös Saksamaa, Ungari, Tšehhi, Slovakkia, Portugali, Itaalia ja Norra ametikoolidega. Eesmärk töötada välja tervislike soolaste ja magusate toitude suurvahusti koolisööklate tarbeks. Kuressaare ametikooli disainisuuna roll kujundada projektile logo, luua kohalikul toorainel põhinevate toitude retseptid ja teha neist toidufotod, osaleda retseptiraamatu kujundamisel. Esimene suur rahvusvaheline koostööprojekt Kuressaare Ametikooli disainisuunale.
    (<a href="https://www.facebook.com/media/set/?set=oa.365038416996959&amp;type=3" target="blank"><b>LINK</b></a>)</dd>
  </li>
  <li>
    <dt>2015</dt>
    <dd>
      algataja, multimeedia ja teabegraafika silmapaistvatele õpilastele suunatud 1000-eurone iga-aastane stipendiumiprogramm ja praktika-alane koostöö Kuressaare Ametikooli disainisuuna ja MTÜ Creative Unioni vahel (koondab 10 loov- ja turundusagentuuri).
      (<a href="http://ametikool.ee/koolist/uudised/1225-disainiopilased-said-creative-unioni-stipendiumi-4-11" target="blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2014</dt>
    <dd>
      eestvedaja, kultuuri-, hariduse-, sotsiaal- ja spordiprojektide toetusfondi taas-avamine, Kuressaare linnavolikogu ja linnavalitsus.
      (<a href="http://www.kuressaare.ee/uus/public/sonumid_3.04.2014.pdf" target="blank"><b>LINK</b></a> esilehelt paremalt väike nupp)
    </dd>
  </li>
  <li>
    <dt>2013</dt>
    <dd>
      juhendaja, fotoöötöötuba “Libahunt” koostöö Kaarma valla noorsootööosakonna rahvusvaheliste noorteprojektiga.
      (<a href="https://www.facebook.com/disainimajakas/photos/a.463623093745512.1073741834.409018092539346/463623260412162/?type=3&amp;theater" target="blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2010-&hellip;</dt>
    <dd>
      asutaja, juhatuse liige ja projektijuht, MTÜ Saaremaailm,<br />
      Saaremaa pärimuse veebikogumik “Sõit, sõit Sõrve poole” lasteaia- ja algkooliõpetajatele.
      (<a href="http://saaremaa.folklore.ee/wordpress/" target="blank"><b>LINK</b></a>)
      <br />
      Saaremaa mõistatusi ja geograafiat tutvustav tasuta veebimäng lastele.
      (<a href="http://saaremaa.folklore.ee/wordpress/saareseiklus/" target="blank"><b>LINK</b></a>)
      <br />
      Saaremaa 50. juubelilaulupeo kontseptsiooni koostamine maailma saarte loomismüütide põhjal.
      (<a href="https://www.facebook.com/140846182637341/photos/a.541199895935299.1073741829.140846182637341/541199912601964/?type=3&amp;theater" target="blank"><b>LINK</b></a>)
      <br />
      Saaremaa näärisokkude valmistamine koostöös Kuressaare Ametikooli rahvusliku puidu ja tekstiili eriala õpilastega ning kinkimine kõigile Saaremaa valdadade.
      (<a href="https://www.facebook.com/140846182637341/photos/a.175247885863837.58469.140846182637341/247875228601102/?type=3&theater" target="blank"><b>LINK</b></a>)
      <br />
      Saaremaa näärisokukombest 30-minutilise dokumentaalfilmi valmistamine eesmärgiga jäädvustada kaduv komme ja tutvustada seda noortele.
      (<a href="https://arhiiv.err.ee/vaata/kuidas-teha-saaremaal-sokku" target="blank"><b>LINK</b></a>)
      <br />
      sissekande koostamine Saaremaa sokukombest Eesti vaimse kultuuripärandi nimistusse.
      (<a href="https://www.rahvakultuur.ee/vkpnimistu/index.php?page=Public.Knowledge&area_id=86&id=253" target="_blank"><b>LINK</b></a>)
      <br />
      Saaremaa rahvariiete veebimäng.
      (<a href="http://saaremaa.folklore.ee/rahvariided/" target="_blank"><b>LINK</b></a>)
      <br>
      Johannes Aaviku keeleuuendustööst veebimängu loomine. 
      (<a href="http://saaremaa.folklore.ee/aavik/" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>

  <li>
    <dt>2005-2006</dt>
    <dd>
      tõlkija ja kaasprojektijuht, Teun A. van Dijk „Ideology: a Multidiciplinary Approach“, EL projekt “Kultuur 2000”, Tartu Ülikooli õppekirjandus, Tartu Ülikooli Kirjastus.
      (<a href="http://epl.delfi.ee/news/kultuur/barbi-pilvre-kasiraamat-edasijoudnud-uhiskonnahuvilisele?id=51029960" target="blank"><b>LINK</b></a>)
    </dd>
  </li>

  <li>
    <dt>2004-2005</dt>
    <dd>
      tõlkija ja kaasprojektijuht, Tartu Ülikooli õppematerjal „Screening Gender“, Avatud Eesti Fond.
      (<a href="https://www.tlu.ee/rasimat/telesugu/stp/sugu_telepildis.pdf" target="blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2001</dt>
    <dd>
      tõlkija, Denis McQuaili „McQuail's Mass Communication Theory“, Tartu Ülikooli õppekirjandus, Tartu Ülikooli Kirjastus.
      (<a href="http://kultuur.postimees.ee/2049563/mcquaili-meediapiibel-ilmus-eesti-keeles" target="blank"><b>LINK</b></a>)
    </dd>
  </li>
</dl>
