<div class="m-quote">
  Oma MTÜga Saaremaailm oleme loonud Saaremaa pärimusel põhinevaid hariduslikke veebimaterjale, linnavolikogu arengukomisjonis sai käima lükatud Kuressaare esimene kaasav eelarve
</div>

<dl class="m-cv__dl">

    <li>
        <dt>2015-2017</dt>
        <dd>
          kultuurikomisjoni esimees, Kuressaare linnavolikogu
          (<a href="http://www.saartehaal.ee/2014/02/14/bellingshausen-vaart-nii-muuseumit-kui-ka-ooperit/" target="blank"><b>LINK</b></a>)
        </dd>
    </li>

    <li>
        <dt>2013-2017</dt>
        <dd>
          kultuuriprojektide fondi hindamiskomisjoni liige, Kuressaare linnavalitsus
          (<a href="http://www.kuressaare.ee/uus/linn-eraldas-projektitoetusteks-17-248-eurot/" target="blank"><b>LINK</b></a>)
        </dd>
    </li>

    <li>
        <dt>2013-2017</dt>
        <dd>
          Kuressaare linnavolikogu liige
          (<a href="http://www.kuressaare.ee/uus/10597/?sub=10777" target="blank"><b>LINK</b></a>)
        </dd>
    </li>

    <li>
        <dt>2013</dt>
        <dd>
          arengukomisjoni ase-esimees ja koordinaator, Kuressaare linna kaasava eelarve määruse koostamise ja läbiviimise töörühm, rahastatud ettepanekute hulgas mh Tuulte Roosi lastemänguväljak, Saaremaa ühisgümnaasiumi jalgpalliminiväljake, haridusprojekt “Purjetame Kuressaare paremaks”, võimlemisklubi “Pärl” võimlemisvaip, ketasgolfi väljak, Kuressaare Gümnaasiumi mänguväljak
          (<a href="http://www.kuressaare.ee/uus/public/sonumid_16042014.pdf" target="blank"><b>LINK</b></a> 2. lk paremal)
      </dd>
    </li>

    <li>
      <dt>2011</dt>
      <dd>
        saate parima küsimuse auhinna võitja, Mnemoturniir Vikerraadios:
        <br />
        <p>
          Küsimus: "kust ja kuidas on tulnud eesti keelde fraseologism kõrva taha kirjutama? Mis on olnud selle algne tähendus?"
        </p>

        <p>
          Vastus: "Kõrva taha kirjutama on ilmselt laenatud saksa keelest, kus selle eaka fraseologismi (XVII saj.) tähenduse teket püütakse põhjendada kunagise tavaga: anda piirikivide paigale asetamise tunnistajateks toodud poisikestele kohapeal mõned kõrvakiilud, näpistada neid kõrvust jne, et vastav sündmus ja paik paremini meelde jääks. Ka vanas Roomas näpistati isikut, kes oli andnud nõusoleku kohtus tunnistajana esineda, kolm korda kõrvalestast, sealjuures lausuti memento - pea meeles. Kirjutamise motiivi põhjendatakse asjaoluga, et nimetatud otstarbeks kasutati tihti just koolipoisse."
        </p>

        <p>
          <i>Allikas: F. Vakk "Suured ninad murdsid päid...(pea ja selle osad rahvalike ütluste peeglis)", kirjastus "Valgus", Tallinn 1970.</i>
        </p>
      </dd>
    </li>
    <li>
        <dt>2008-&hellip;</dt>
        <dd>
            algataja ja žürii püsiliige, Saaremaa hoidistekonkurss ajalehes “Meie Maa” eesmärgiga propageerida kohaliku toidu väärtustamist ja ettevõtlikkust naiste ja noorte seas:
            <br>
            (<a href="https://www.youtube.com/watch?v=EkFbrVfrL1k" target="blank"><b>LINK 1</b></a> |
            <a href="https://president.ee/et/vabariigi-president/evelin-ilves/evelin-ilves-meedia/6684-evelin-ilves-aitas-vaelja-valida-saaremaa-parimad-hoidised/index.html" target="blank"><b>LINK 2</b></a>)
        </dd>
    </li>

    <li>
      <dt>2008</dt>
      <dd>
        saate parima küsimuse auhinna võitja, Mnemoturniir Vikerraadios:
        <br />
        <p>
          Küsimus: "Eelmisel laupäeval möödus 516 aastat päevast, mil Kolumbus "avastas" Ameerika. Indiaanlased nimetasid valgeid mehi mitut moodi: "tundmatud inimesed" ütlesid eskimod; "vaimud" ütlesid Kalifornia maidud; "karvaserinnalised" või "karvased suud" oli üsna laialt levinud nimetus, mis väljendas indiaanlaste üldist jälestust keha ja näo karvkatte vastu.
          <br />
          Kuidas aga nimetasid indiaanlased neegreid/aafriklasi?"
        </p>
        <p>
          Vastus: "must valge mees".
        </p>
        <p>
          <blockquote>
            Kommentaar: huvitav on see seetõttu, et "valge mees"  oli indiaanlaste jaoks üldnimeks võõrale, tundmatule inimesele. Seega sai tekkida paradoksaalne nimetus "must valge mees".
          </blockquote>
        </p>
        <p>
          <i>Allikas: Eva Lips, "Indiaaniraamat", lk 47. Tõlge A.Viires, välja antud 1963 Eesti Riikliku Kirjastuse poolt.</i>
        </p>
      </dd>
    </li>

    </dl>
