<div class="m-quote">
  Kuressaares on hea olla õpetaja selle pärast, et pole vajadust kasutada autot - kõikjale jõuab jala
</div>

<p>
  Liigun kooli ja koju ainult jala, varem olen kasutanud jalgratast ja tõukeratast. Lõunat söön ametikooli sööklas või restoranis, sageli ühendan lõuna töökohtumistega. Kord kuus käin ujumas.
</p>

<h4>21. september</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
       imago loomine, 3. aasta stilistidega punasest paberist vormide abil fotolavastuses eri emotsioonide väljendamine, kavandamine
    </dd>
  </li>
  <li>
    <dt>11:00-12:00</dt>
    <dd>
      lõuna ametikooli restoranis, endise õpilase ja noorsootööjuhi tutvustamine koostööks
    </dd>
  </li>
  <li>
    <dt>12:30-16:00</dt>
    <dd>
      sihtasutuse Saaremaa Muuseum nõukogu esimene koosolek; vestlus muuseumi töötajaga Johannes Aaviku keeleuuendustööst, sõnaraamatu laenamine Aavikut tutvustava veebimängu loomiseks oma MTÜga Saaremaailm
    </dd>
  </li>
  <li>
    <dt>21:30</dt>
    <dd>
      kordusena ETVst “Suud puhtaks” saate vaatamine (põhikool ja gümnaasium, kutsekool ja ülikool - kuhu nende vahele mahuvad lävendid ja kuhu mitte?) FBs arutelu saate üle Tartu Kunstikooli direktori ja õppejuhiga.
    </dd>
  </li>
</dl>



<h4>22. september</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
       sissejuhatus popkultuuri, 3. aasta stilistidega filmi “Cabaret” vaatamine ja filmistilistika analüüsimine
    </dd>
  </li>
  <li>
    <dt>12:45-14:15</dt>
    <dd>
      isiku-uurimusel (Ernst Öpik ja Karl Ernst von Baer) põhineva erialase projekti taustatöö tegemine, 2. aasta liikuva graafika kujundajad (vahepeal pinksimäng)
    </dd>
  </li>
  <li>
    <dt>
      16:00-17:00
    </dt>
    <dd>
      juhtõpetaja, teiste disainisuuna õpetajate toetamine täiskasvanud tsükliõpilastega õppekorralduse ja projektitöö probleemide arutamisel; üks õpilane palub mult soovitust, kuhu Euroopas minna Erasmus projektiga animatsiooni õppima.
    </dd>
  </li>
  <li>
    <dt>Õhtu</dt>
    <dd>
      Sõit perega Tallinnasse ema juurde, kaasa marineeritud kuuseriisikad, aedoad, pirnid
    </dd>
  </li>
</dl>


<h4>25. september</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
       sissejuhatus popkultuuri, 3. aasta stilistidega filmi “Cabaret” vaatamine ja filmistilistika analüüsimine
    </dd>
  </li>
  <li>
    <dt>11:00-14:15</dt>
    <dd>
      reklaamiõpetus, 4.aasta dekoraator-stilistidega kavandite joonistamine koostööprojektile, milles õpilased toodavad Eesti Keele Instituudile t-särgid eesti keele kujundlike väljenditega ning loovad särkidele noortele suunatud FB reklaamikampaania.
    </dd>
  </li>
  <li>
    <dt>Õhtu</dt>
    <dd>
      Erasmus+ projekti Designstem aruande täitmine. Suhtlus saksa kolleegiga FBs, kes soovitab õpilasele Saksamaal hea animatsioonikooli ja lubab igal moel aidata. FBs nähtud töökuulutuse vahendamine disainisuuna vilistlastele, nende nõustamine tasu osas läbirääkimistel. Poola koolituspakkumise (töötuba visualiseerimisest) vahendamine Kuressaare Gümnaasiumi õpetajale, sest endal pole võimalik minna ajapuudusel.
    </dd>
  </li>
</dl>



<h4>26. september</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
       reklaamiõpetus, 4.aasta dekoraator-stilistidega kavandite analüüsimine ja arendamine koostööprojektile, milles õpilased toodavad Eesti Keele Instituudile t-särgid eesti keele kujundlike väljenditega ning loovad särkidele noortele suunatud FB reklaamikampaania
    </dd>
  </li>
  <li>
    <dt>10:15-11:45</dt>
    <dd>
      sissejuhatus popkultuuri, 3. aasta stilistidega filmi “Cabaret” vaatamine ja filmistilistika analüüsimine
    </dd>
  </li>
  <li>
    <dt>12:45-14:15</dt>
    <dd>
      imago loomine, 3. aasta stilistidega punasest paberist vormide abil fotolavastuses eri emotsioonide väljendamine, kavandite analüüsimine ja arendamine. Koolist õppevõlgade ja puudumiste pärast välja langenud õpilase lubamine tundi vabakuulajana õpilase palve peale. Õpilase kaebuse lahendamine, kelle tiimikaaslane puudus, viimase kutsumine kooli.
    </dd>
  </li>
  <li>
    <dt>16:00-17:45</dt>
    <dd>
      karjääri, suhtlemise aluste ja ettevõtluse tund koostöös 1. aasta õmbluseriala täiskasvanud õhtuõppijatele koostöös kohaliku Rajaleidja keskuse spetsialistidega (soovituse ja kontakti andis kooli sotsiaalpedagoog), kes juhendasid õpilasi karjääriplaani koostamisel. Teises tunnis õpilastega projekti valimine, õpilastega tööjaotuse kokkuleppimine, kuidas iseseisvalt luua õpilasfirma ja kirjutada taotlus rahastuse saamiseks projektile. Teeme kiire ajurünnaku ja õpilasfirma nimeks saab “Operatsioon Õ-17”.
    </dd>
  </li>
</dl>




<h4>27. september</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
      kujundamine ja kavandamine, idee loomine, 2. aasta stilistiõppe täiskasvanud tsükliõpilastega uue kursuse sissejuhatus, tööplaani tutvustamine ja arutamine (lõimitud õpe imagoloome kursusega)
    </dd>
  </li>
  <li>
    <dt>12:20-12:40</dt>
    <dd>
      perearstil enda ja lapsega
    </dd>
  </li>
  <li>
    <dt>Õhtu</dt>
    <dd>
       telefoniarutelu Tallinna Ülikooli haridustehnoloogia magistriõpilasga tema soovi üle kirjutada Erasmus+ Designstem projektist magistritöö.<br />
       Telefonikõne tuttavaga, kes asutas Kuressaares FB-grupi, kus vahetatakse aktiivselt aia- ja metsasaadusi (üle 1000 liikme), eesmärgiga esitada see algatus Saaremaa kodanikeühenduste tunnustusüritusele.
    </dd>
  </li>
</dl>




<h4>28. september</h4>

<dl class="m-cv__dl">
  <li>
    <dt>10:15-11:45</dt>
    <dd>
      sissejuhatus popkultuuri, 3. aasta stilistidega filmi “Evita” vaatamine ja filmistilistika analüüsimine
    </dd>
  </li>
  <li>
    <dt>12:45-14:15</dt>
    <dd>
      imago loomine, 3. aasta stilistidega punasest paberist vormide abil fotolavastuses eri emotsioonide väljendamine, kavandite põhjal pabervormide valmistamine
    </dd>
  </li>
  <li>
    <dt>15:00-18:00</dt>
    <dd>
       Kuressaare linnavolikogu istungil osalemine.
    </dd>
  </li>
  <li>
    <dt>Õhtu</dt>
    <dd>
       Erasmus+ projekti Designstem aruande täitmine. E-mailivahetus järgmise Erasmus+ Designstem töötoa korraldamiseks Middlesbrough kolledžis Inglismaal.
    </dd>
  </li>
</dl>




<h4>29. september</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
      välkprojekt liikuva graafika 2. kursuse õpilastega, 1-minutilise video tegemine Varkey Teacher saadikute võrgustikule pakutud spordistipendiumi konkursile
      <br />
      Juhtõpetajaga disainisuuna murekohtade arutelu.
    </dd>
  </li>
  <li>
    <dt>14:30-15.55</dt>
    <dd>
      kujundamine ja kavandamine, idee loomine, 2. aasta stilistiõppe täiskasvanud tsükliõpilastega tarbijatüübi loomise ülesande püstitamine, varasemate õpilastööde analüüsimine
    </dd>
  </li>
</dl>




<!-- <h4>Nädalavahetus</h4>
<dl class="m-cv__dl">
  <li>
    <dt></dt>
    <dd>
      Nädalavahetusel lapse algatusel perega Kuressaare lossipargis jalutamine ja tõdemine, et käes on Puškini sügis. Maja koristamine ja pirni-ebaküdoonia kompoti tegemine.
    </dd>
  </li>
</dl> -->




<h4>2. oktoober</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
      erialane eneseväljendus, 2. aasta kujundusgraafika täiskasvanud tsükliõppijatele; arutelu India kooliga koostööprojekti üle, kus loodaks tekstiilile ühismuster kummagi kultuuri etnograafiliste mustrite põhjal
    </dd>
  </li>
  <li>
    <dt>15:00-17:00</dt>
    <dd>
      Kuressaare linnavolikogu kultuurikomisjoni koosoleku juhtimine vabakontoris, viimase tööpõhimõtetega tutvumine
    </dd>
  </li>
  <li>
    <dt>Õhtu</dt>
    <dd>
      saadan Saaremaa Ühisgümnaasiumi direktorile FB Varkey Teacher Ambassadors grupist leitud  5-päevase koolitus-stipendiumi konkursiteate 10-14-aastaste laste matemaatikaõpetajale USA kosmosekeskusesse.
      (<a href="https://educators.honeywell.com/application" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
</dl>



<h4>3. oktoober</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
      reklaamiõpetus, 4.aasta dekoraator-stilistidega kavandite alusel rühmatööna modellide ja vajaminevate rekvisiitide loetelu koostamine, ülesannete jaotamine koostööprojektile, milles õpilased toodavad Eesti Keele Instituudile t-särgid eesti keele kujundlike väljenditega ning loovad särkidele noortele suunatud FB reklaamikampaania
    </dd>
  </li>
  <li>
    <dt>10:00-11:45</dt>
    <dd>
      sissejuhatus popkultuuri, 3. aasta stilistidega filmi “Evita” vaatamine ja filmistilistika analüüsimine ja hindamine. Õpilased testivad oma töid kooliõuel ja tänaval võõraste inimeste peal.
    </dd>
  </li>
  <li>
    <dt>
      Õhtu
    </dt>
    <dd>
      Rühmajuhatajana õpilaste õppetoetuste taotlustele kommentaaride kirjutamine. Esitluse koostamine 3. oktoobri kultuurikomisjoni koosolekuks.
    </dd>
  </li>
</dl>





<h4>4. oktoober</h4>

<dl class="m-cv__dl">
  <li>
    <dt>08:30-10:00</dt>
    <dd>
      imago loomine, 3. aasta stilistidega punasest paberist vormide abil fotolavastuses eri emotsioonide väljendamine, fotolavastuste analüüsimine
    </dd>
  </li>
  <li>
    <dt>11:45-12:45</dt>
    <dd>
      isiku-uurimusel põhinev erialane projekt, tekstide ja fotode kogumine
    </dd>
  </li>
  <li>
    <dt>12:45-14:15</dt>
    <dd>
      reklaamiõpetus, 4.aasta dekoraator-stilistidega t-särkide kujundamine
    </dd>
  </li>
  <li>
    <dt>14:30-15:55</dt>
    <dd>
      karjäär, suhtlemise alused, ettevõtlus; sissejuhatav tund 1. aasta keraamika täiskasvanud tsükliõpilastele (personaalne SWOT-analüüs, isiksusetesti tegemine, arutelu)
    </dd>
  </li>
</dl>





<h4>5. oktoober</h4>
<dl class="m-cv__dl">
  <li>
    <dt></dt>
    <dd>
      Tallinnasse sõit, edasi lend Abu Dhabisse, Qudwa foorumile õpetajaameti tuleviku üle arutama.
    </dd>
  </li>
</dl>
