<div class="m-quote">
  Mis tahes tööd tuleb teha nii, et julged seda avalikkuses näidata ja sellest rääkida
</div>

<h3>Ajalehed</h3>

<dl class="m-cv__dl">

  <li>
    <dt>2018</dt>
    <dd><b>Meie Maa</b>, lugu projektist "100 oravat EV aastapäevaks Kuressaare lossiparki" (<a href="https://www.meiemaa.ee/index.php?content=artiklid&sub=69&artid=82263" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2018</dt>
    <dd><b>Tartu Postimees</b>, uudis projektist "Toidukunst: eesti rahvusköögi värvid ja vormid kultuuris ja kunstis" (<a href="https://tartu.postimees.ee/4508952/tartu-kunstikooli-opilased-mangisid-toiduga" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2018</dt><dd><b>Saarte Hääl</b>, uudis Saaremaa vanasõnadega T-särkide fotoseeriast
      (<a href="https://www.saartehaal.ee/2018/04/24/ametikooli-stilistid-riietasid-toomehed-t-sarkidesse/" target="blank"><b>LINK</b></a>)</dd>
  </li>
  
  <li>
    <dt>2018</dt><dd><b>Sirp</b>, intervjuu avaliku ruumi eestikeelsusest
      (<a href="http://www.sirp.ee/s1-artiklid/varia/kusib-vastab/" target="blank"><b>LINK</b></a>)</dd>
  </li>
  
  <li>
    <dt>2018</dt><dd><b>Saarte Hääl</b>, uudis aasta keeleteo eripreemiast eesti tundesõnadega T-särkidele
      (<a href="https://www.saartehaal.ee/2018/03/21/tundesonadega-t-sarkidele-keeleteolt-eriauhind/" target="blank"><b>LINK</b></a>)</dd>
  </li>
        
  <li>
    <dt>2018</dt><dd><b>Saarte Hääl</b>, uudis eesti tundesõnadega T-särkidest kui aasta keeleteo nominendist
      (<a href="https://www.saartehaal.ee/2018/02/13/saarlaste-tood-keeleteo-nominendid/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2018</dt><dd><b>Tartu Postimees</b>, lugu eesti tundesõnadega T-särkidest kui aasta keeleteo nominendist
      (<a href="https://tartu.postimees.ee/4416259/kunstiopilased-puuavad-keeleteo-auhinda" target="blank"><b>LINK</b></a>)</dd>
  </li>
            
  <li>
    <dt>2018</dt><dd><b>Meie Maa</b>, lühiintervjuu EV100 "Mida on Eesti Vabariik mulle kinkinud?"
    (<a href="https://www.youtube.com/watch?time_continue=36&v=BU4bexGF2Ic" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2018</dt><dd><b>Meie Maa</b>, uudis Johannes Aavikut tutvustavast veebimängust
    (<a href="https://www.meiemaa.ee/index.php?content=artiklid&amp;sub=1&amp;artid=80299" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2018</dt><dd><b>Õpetajate Leht</b>, uudis Johannes Aavikut tutvustavast veebimängust 
    (<a href="http://opleht.ee/2018/01/valminud-on-johannes-aavikut-ja-tema-keeleuuendust-tutvustav-veebimang/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2018</dt><dd><b>Saarte Hääl</b>, uudis eesti tundesõnade T-särgiprojektist 
    (<a href="https://www.saartehaal.ee/2018/01/17/tunded-vormusid-kujunditeks/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2017</dt><dd><b>Meie Maa</b>, uudis disainiõpilaste linnaruumi&shy;aktsioonist
    (<a href="https://www.meiemaa.ee/index.php?content=artiklid&sub=1&artid=79548" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2017</dt><dd><b>Meie Maa</b>, uudis Lowell-Milken keskuse projektõppe koolitusel osalemisest 
    (<a href="https://www.meiemaa.ee/index.php?content=artiklid&sub=1&artid=77339" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
      <dt>2017</dt><dd><b>Meie Maa</b>, uudis osalemisest Global Teacher Prize seminaril ning globaalsel hariduse ja oskuste foorumil Dubais
      (<a href="https://www.meiemaa.ee/index.php?content=artiklid&sub=1&artid=75583" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2017</dt><dd><b>Saarte Hääl</b>, uudis Saaremaa rahvarõivaid tutvustavast veebimängust
    (<a href="https://www.saartehaal.ee/2017/01/24/uus-veebimang-tutvustab-rahvaroivaid/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
      <dt>2016</dt><dd><b>ERR.menu</b>, uudis dokumentaalfilmi "Kuidas teha Saaremaal sokku" tele-esilinastusest ETVs 24. detsembril 
      (<a href="https://menu.err.ee/293663/tana-on-esmakordselt-etv-eetris-dokfilm-saaremaa-sokujooksust" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
      <dt>2016</dt><dd><b>Saarte Hääl</b>, uudis Saaremaa näärisokkude kombe kandmisest Eesti vaimse kultuuripärandi nimistusse
      (<a href="https://www.saartehaal.ee/2016/12/20/sokud-kultuuriparandi-nimistus/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
      <dt>2016</dt><dd><b>Saarte Hääl</b>, uudis jah-võibolla-ei vastustemasina kunstiprojektist linnaruumis
      (<a href="https://www.saartehaal.ee/2016/12/01/lossi-tanava-masin-vastab-koigile-kas-kusimustele/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
      <dt>2016</dt><dd><b>Saarte Hääl</b>, arvamuslugu Kuressaare kesklinna arengust ja turuhoonele funktsiooni leidmisest
      (<a href="https://www.saartehaal.ee/2016/01/22/mis-siis-kuressaare-turuhoonest-ikkagi-saab/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2015</dt><dd><b>Saarte Hääl</b>, uudis üle-euroopalise Europassi videokonkursi võidust 
    (<a href="https://www.saartehaal.ee/2015/12/11/volutrikid-paberiga-toid-saarlastele-voidu/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2015</dt><dd><b>Saarte Hääl</b>, uudis rahvusvahelisel puiduteemalisel videokonkursil aukirja ja preemia saamisest 
    (<a href="https://www.saartehaal.ee/2015/10/28/ametikoolile-videokonkursilt-kaks-tunnustust/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2015</dt><dd><b>Saarte Hääl</b>, uudis dokumentaalfilmi "Kuidas Saaremaal teha sokku" esilinastusest
    (<a href="https://www.saartehaal.ee/2015/07/08/saaremaal-esilinastub-film-sokutegemisest/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2015</dt><dd><b>Saarte Hääl</b>, uudis üle-eestilise turismiturunduse konkursi võidust 
    (<a href="https://www.saartehaal.ee/2015/02/17/disainiopilased-voitsid-turismiturunduse-konkursi/" target="blank"><b>LINK</b></a>)</dd>
  </li>


  <li>
    <dt>2015</dt><dd><b>Õpetajate Leht</b>, Tiina Vapperi portreelugu Global Teacher Prize konkursist
    (<a href="http://opleht.ee/20371-merit-karise-opetab-ideid-ellu-viima/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2015</dt><dd><b>Meie Maa</b>, Ene Kallase portreelugu Global Teacher Prize konkursist
    (<a href="https://www.meiemaa.ee/index.php?content=artiklid&amp;sub=41&amp;artid=62465" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2015</dt><dd><b>Saarte Hääl</b>, Kuressaare Ametikooli disainiõpilase osalemisest maailma suurimal reklaamikonkursil
    (<a href="http://www.saartehaal.ee/2015/06/17/uus-ametikooli-disainiopilane-osaleb-maailma-suurimal-reklaamifestivalil/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2014</dt><dd><b>Saarte Hääl</b>, uudis üle-euroopalise Europassi videokonkursi võidust 
    (<a href="https://www.saartehaal.ee/2014/12/13/elu-tahtsad-paberid-viivad-reisile/" target="blank"><b>LINK</b></a>)</dd>
  </li>


  <li>
    <dt>2013</dt><dd><b>EPL</b>, arvamuslugu kutsehariduse maine teemal
    (<a href="http://epl.delfi.ee/news/arvamus/merit-karise-ka-kutsekooli-lopetanu-voib-saada-edukaks?id=67374430" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2013</dt><dd><b>Saarte Hääl</b>, uudis aasta õpetaja nimetusest:
    (<a href="http://www.saartehaal.ee/2013/10/08/ametikool-valis-aasta-opetajaks-merit-karise/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2013</dt><dd><b>Saarte Hääl</b>, uudis Saaremaa pärimuse teemalise veebimängu loomisest
    (<a href="http://www.saartehaal.ee/2013/12/20/saaremaa-parimuse-teemaline-arvutimang-kutsub-mangima/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2013</dt><dd><b>Saarte Hääl</b>, Raul Vinni portreelugu aasta õpetaja aunimetusest
    (<a href="http://www.saartehaal.ee/2013/11/04/opetaja-toukeratta-ja-ideedega/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2012</dt><dd><b>EPL</b>, arvamuslugu kunstlikust defitsiiditekitamisest tarbimiskultuuris
    (<a href="http://epl.delfi.ee/news/arvamus/merit-karise-kuidas-tekitada-defitsiiti?id=65388394" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2012</dt><dd><b>Saarte Hääl</b>, lugu piktograafiaõppest
    (<a href="http://www.saartehaal.ee/2012/01/26/noored-panid-kalevipoja-ja-president-ilvese-pildi-sisse/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2010</dt><dd><b>Saarte Hääl</b>, arvamuslugu pärimusõppest Saaremaal
    (<a href="https://www.saartehaal.ee/2010/12/21/kuidas-saaremaal-saaremaad-opetada/" target="blank"><b>LINK</b></a>)</dd>
  </li>


  <li>
    <dt>2009</dt><dd><b>Saarte Hääl</b>, arvamuslugu vajadusest tunnustada ja esile tõsta kohalikku hoidistamis&shy;traditsiooni
    (<a href="https://www.saartehaal.ee/2009/09/05/meie-kandidaat-on-hapukurk/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2009</dt><dd><b>Saarte Hääl</b>, avalik pöördumine lasteaednike palkade ennistamiseks
    (<a href="http://www.saartehaal.ee/2009/11/06/lapsevanemad-paluvad-lasteaednike-palka-tagasi/" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2008</dt><dd><b>EPL</b>, arvamuslugu alkoholireklaami keelustamisest
    (<a href="http://w3.ee/openarticle.php?id=707075&lang=est" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2007</dt><dd><b>Eesti Ekspress</b>, arvamuslugu kiirmoest ja taaskasutusest
    (<a href="http://ekspress.delfi.ee/kuum/kiirmood-tapab-sekondhandi?id=69125633" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2007</dt><dd><b>Eesti Ekspress</b>, intervjuu USA kunstnik-tarbimiskultuurikriitikuga
    (<a href="http://ekspress.delfi.ee/areen/antireklaami-guru-konetab-tarbijat-huumoriga?id=69128167" target="blank"><b>LINK</b></a>)</dd>
  </li>

  <li>
    <dt>2005</dt><dd><b>Sirp</b>, intervjuu kriitilise diskursusanalüüsi rajaja Teun Adrianus van Dijkiga
    (<a href="http://www.sirp.ee/s1-artiklid/c9-sotsiaalia/ideoloogia-on-k-ikjal/" target="blank"><b>LINK</b></a>)</dd>
  </li>
</dl>



<h3>Tele</h3>

<dl class="m-cv__dl">
    <li>
      <dt>2018</dt>
      <dd>ETV, Aktuaalne Kaamera, uudis Kuressaare ametikooli disainisuuna õmbluseriala õpilaste projektist "100 oravat Kuressaare lossiparki" (26:00 - 28:17)(<a href="https://arhiiv.err.ee/guid/20180527155900801000300112290E2BA238B440000002912B00000D0F016492" target="blank"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2018</dt><dd><b>ETV, Terevisioon</b>, intervjuu eesti tundesõnade T-särgiprojektist (02:22)
      (<a href="https://etv.err.ee/v/meelelahutus/terevisioon/terevisiooni_lood/b2455a8e-4467-4a29-986d-dfec0cb36d38/raamat-eesti-tundesonadest-inspireeris-noori-tegema-t-sarke" target="blank"><b>LINK</b></a>)</dd>
    </li>

    <li>
      <dt>2014</dt><dd><b>TV3, uudised</b>, Global Teacher Prize konkurss
      (<a href="http://www.tv3play.ee/sisu/seitsmesed-uudised-2014/506391" target="blank"><b>LINK</b></a>)</dd>
    </li>

    <li>
      <dt>2013</dt><dd><b>ETV, Terevisioon</b>, intervjuu Kuressaare ametikooli disainisuuna õpilase Nadja Haugasega üle-euroopalise sisserändeteemalise videokonkursi võidust
      (<a href="https://etv.err.ee/v/meelelahutus/terevisioon/terevisiooni_lood/35ed7196-47b4-485a-9704-b9d866aac633" target="blank"><b>LINK</b></a>)</dd>
    </li>
  
    <li>
      <dt>2013</dt><dd><b>ETV, AK</b>, uudis EL kodanike õiguste teemalise videokonkursi võidust (28:57)
      (<a href="http://arhiiv.err.ee/guid/201303281719302010010002081001517C41A040000001324B00000D0F006227" target="blank"><b>LINK</b></a>)</dd>
    </li>

    <li>
      <dt>2012</dt><dd><b>ETV, AK</b>, uudis näärisokkude valmistamisest ja valdadele kinkimisest Kuressaare ametikooli disainisuunas (35:50)
      (<a href="http://arhiiv.err.ee/guid/201112131434382010010002081001517C41A040000004012B00000D0F021994" target="blank"><b>LINK</b></a>)</dd>
    </li>
</dl>
