<div class="m-quote">
  Tänu Globaalse Õpetajapreemia võrgustikule näen iga päev, kuidas töötab näiteks õpetaja inuiti külas, India suurlinnas, Hongkongi misjonikoolis. Sellest võrgustikust leidsin mõttekaaslased, kellega lükata käima senise tööelu suurim ettevõtmine - rahvusvaheline e-õppevara arendusprojekt
</div>

<dl class="m-cv__dl">
  <li>
    <dt>2017 suvi</dt>
    <dd>
      kutse/stipendium Lowell Milken Centre International Fellow (Fort Scott, USA), isiku-uurimuse projektõppe keskuses eesmärgiga tuua meedia ja kunsti väljendusvormide kaudu avalikkuse ette noortele eeskujusid teaduse, loomingu, ühiskondliku tegevuse vallas. Kõik stipendiaadid alates aastast 2008 on koondunud koostööks FB gruppi.
    </dd>
  </li>
  <li>
    <dt>2016 sügis</dt>
    <dd>
      Global Teacher Prize 2015 Top10 finalistide <a href="http://www.globalteacherprize.org/top-10-finalist/richard-spencer/" target="_blank"><b>Richard Spenceri</b></a> (Ühendkuningriik), <a href="http://www.globalteacherprize.org/top-10-finalist/maarit-rossi/" target="_blank"><b>Maarit Rossi</b></a> (Soome) ja <a href="http://www.globalteacherprize.org/finalist/mareike-hachemer/" target="_blank"><b>Mareike Hachemeri</b></a> (Saksa) nõustamisel Erasmus+ strateegilise koostööprojekti “Designstem: integrated design+STEM education” kirjutamine Eesti, Soome, Hollandi, Saksa, Sloveenia, Itaalia, Portugali, Kreeka kutsekoolide, polütehnikumide, rakenduskõrgkoolide ja ülikoolidega. Eesmärk luua e-õppevara disaini ja reaalainete lõimitud õppeks. (<a href="http://ec.europa.eu/programmes/erasmus-plus/projects/eplus-project-details-page/?nodeRef=workspace://SpacesStore/3a0738b6-a335-45e5-919b-ff5b6ae14598" target="_blank"><b>LINK</b></a>)

    </dd>
  </li>
  <li>
    <dt>2016 kevad</dt>
    <dd>
      osalemine Varkey Teacher Ambassador Summit seminaril ja töötubades; Global Education and Skills Forum’il Dubais; edasine infovahetus ja koostöö FB suletud grupis Varkey Teacher Ambassadors, rühmavestluste teel Skype’s (<a href="https://www.educationandskillsforum.org/ehome/index.php?eventid=200170557&" target="_blank"><b>LINK1</b></a> | <a href="http://www.forbes.com/sites/jordanshapiro/2016/03/14/pope-francis-awarded-this-palestinian-teacher-the-2016-global-teacher-prize/#109961463b66" target="_blank"><b>LINK2</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016 kevad</dt>
    <dd>
      liitumine Varkey õpetaja-saadikute programmiga, et toetada õpetaja-ameti maine tõstmist maailmas, töötada välja innovatiivseid õppemeetodeid ja -materjale (<a href="http://www.globalteacherprize.org/varkey-ambassador-program/" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>

  <li>
    <dt>2015/2016</dt>
    <dd>
      Eesti Aasta Õpetaja Galal tunnustatud Eesti õpetajate jt esitamine Global Teacher Prize 2016 konkursile; konkursiteate sõnumi levitamine FB ning Haridus- ja Teadusministeeriumi kaudu
    </dd>
  </li>
  <li>
    <dt>2015 suvi</dt>
    <dd>
      osalemine Varkey Foundationi Global Teacher Prize finalistide veebikonverentsil õpetaja muutuvast rollist koolis ja kogukonnas: (<a href="https://varkeyfoundation.org/blog/50-best-teachers-join-forces" target="_blank"><b>LINK</b></a>)

    </dd>
  </li>

  <li>
      <dt>2015 talv</dt>
      <dd>
        Global Teacher Prize Top50 finalist silmapaistvate saavutuste eest õpetajatöös ja kogukonnas laiemalt, Varkey Foundation, Dubai, ÜAE
        (<a href="https://www.globalteacherprize.org/person?id=2989" target="_blank"><b>LINK</b></a>)
      </dd>
  </li>
  <li>
    <dt>
      2013-&hellip;
    </dt>
    <dd>
      osalemine disaini ja käsitöö võrgustikus õppekavade väljatöötamisel, koolitustes
    </dd>
  </li>

</dl>
