<div class="m-quote">
  Õpilase tagasiside: “Kooli viimane projekt oli minu jaoks suur ettevõtmine, sest see oli mu esimene iseseisev filmi tegemine. Tundsin, et minus toimus suur edasiareng. Filmi tehes mõistsin, et olen võimeline enda võimeid ületama isegi siis, kui puudub varasem suur kogemus filmitegemises.”
</div>

<dl class="m-cv__dl">
  <li>
    <dt>2018</dt>
    <dd>
      rahvusvahelise kategooria peapreemia Karl Ernst von Baeri animatsioonile multimeediakonkursil 
      (<a href="https://saartehaal.postimees.ee/6671042/ametikooli-opilane-voitis-usa-s-peapreemia-video" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2018</dt>
    <dd>
      peaauhind, rahvusvaheline katergooria, Lowell Milken (USA) projektõppekekuse õpilaskonkurss eesmärgiga tuua meedia ja kunsti väljendusvormide kaudu avalikkuse ette noortele eeskujusid teaduse, loomingu, ühiskondliku tegevuse vallas
      (<a href="https://www.youtube.com/watch?v=NM_RhnID50g" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      aasta keeleteo nominent, koostööprojekt Kuressaare ametikooli disainisuuna, Tartu Kunstikooli ja Eesti Keele Instituudi vahel, noortele suunatud eesti keele tundesõnade T-särkide sotsiaalmeedia kampaania
      (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=1525583560882788" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
    <!-- <li>
      <dt>2016</dt>
      <dd>
        koostööprojekt Kuressaare ametikooli disainisuuna ja Eesti Rahva Muuseumi vahel, noortele suunatud ühiskampaania mardi- ja kadripäeva tähistamiseks
        (<a href="https://www.facebook.com/pg/disainimajakas/photos/?tab=album&album_id=1092430054198143" target="_blank"><b>LINK</b></a>)
      </dd>
    </li> -->
    <li>
      <dt>2015</dt>
      <dd>I koht, üle-euroopaline Europassi videokonkurss, EL Europassi Keskus
      (<a href="https://www.youtube.com/watch?v=A0o3ZzRcqMk" target="blank"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2015</dt>
      <dd>2 õpilastöö žüriipoolne äramärkimine (Honorable Mention Award) rahvusvahelisel videokonkursil “Wood is Good”, International Wood Culture Society
      (<a href="https://www.youtube.com/watch?v=53AVJ9CP-L8" target="blank"><b>LINK</b></a> | <a href="https://www.youtube.com/watch?v=-4zqzY2gXus" target="_blank"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2015</dt>
      <dd>I koht, üleriigiline turismireklaami konkurss, auhind 5le õpilasele osalemine Portugalis rahvusvahelisel turismiseminaril, EAS ja Mainori ettevõtluskool
      <br />
      (<a href="https://www.facebook.com/disainimajakas/photos/a.743223209118831.1073741866.409018092539346/743223299118822/?type=3&theater" target="blank" class="m-link--long"><b>LINK 1</b></a> | <a href="https://www.facebook.com/disainimajakas/photos/a.743223209118831.1073741866.409018092539346/743223272452158/?type=3&theater" target="blank"><b>LINK 2</b></a> | <a href="https://www.facebook.com/disainimajakas/photos/a.743223209118831.1073741866.409018092539346/743223222452163/?type=3&theater" target="blank"><b>LINK 3</b></a>)</dd>
    </li>
    <li>
      <dt>2015</dt>
      <dd>I koht, üleriigiline T-särgi kujunduskonkurss eesmärgiga juhtida laste tähelepanu internetiohtudele
      (<a href="http://ametikool.ee/koolist/uudised/1173-disainiopilane-voitis-e-ohutuse-t-saergi-konkursi-25" target="blank" class="m-link--long"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2014</dt>
      <dd>I koht, üle-euroopaline Europassi videokonkurss, EL Europassi Keskus
      (<a href="https://www.youtube.com/watch?v=o9F9xqRPIpM" target="blank"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2013</dt>
      <dd>žürii peapreemia, publiku peapreemia, rahvusvaheline multimeedia konkurss sisserändajate teemal, Euroopa Komisjon
      (<a href="http://vimeo.com/68291245" target="blank"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2013</dt>
      <dd>I koht, rahvusvaheline videokonkurss EL kodanike õiguste teemal, Euroopa Sotsiaal- ja Majanduskomisjon
      (<a href="https://www.youtube.com/watch?v=7vVw8Tb4GeI" target="blank"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2012</dt>
      <dd>eripreemia, üleriigiline videokonkurss ülemaailmse “Fascination of Plants” päeval, Eesti Maaülikool
      (<a href="https://www.youtube.com/watch?v=wjwc5PmzS1Q" target="blank"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2011</dt>
      <dd>Eesti esindaja tervislikku toitumist propageeriva rahvusvahelise videokonkursi FOOD4U finaalis, Itaalia põllumajandusministeerium
      (<a href="https://www.youtube.com/watch?v=8WJ30xqq44c" target="blank"><b>LINK</b></a>)</dd>
    </li>
    <li>
      <dt>2010</dt>
      <dd>I-II koha jagamine, eripreemia, üleriigiline pensioniteemalise teadlikkuse tõstmise videokonkurss noortele „Minu pension”, Eesti Pensionikeskus ja Finantsinspektsioon
      (<a href="https://www.youtube.com/watch?v=Hn4hGELpaBk" target="blank"><b>LINK</b></a>)</dd>
    </li>
</dl>
