<div class="m-quote">
  Kutsekoolis õpetamine on tähendanud seda, et kogu õppematerjal ja ülesanded tuleb ise luua ja ehitada. Värskeim mõte on oma loovmeetoditest õpiku kirjutamine
</div>

Kohandan õppematerjale jooksvalt igal aastal, iga uue rühma puhul.

<dl class="m-cv__dl">
  
    
  
  <li>
    <dt>2016-2019</dt>
    <dd>
      Erasmus+ projekt “Designstem: integrated design+STEM education” koostöös 10 partneriga, sh ametikoolid, polütehnikumid, rakenduskõrgkoolid, ülikoolid Eestist, Soomest, Hollandist, Saksamaalt, Sloveeniast, Portugalist, Itaaliast ja Kreekast eesmärgiga luua multimeedial põhinev e-õppevara disaini ja reaalainete integreeritud õppeks (loomisel)
      (<a href="https://www.facebook.com/DesignSTEM/" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2015</dt>
    <dd>
      Piktograafia kursus
      (<a href="https://docs.google.com/presentation/d/1gH4fkv-ReMnNhKBMFqHM0Nu483_E9J5yt4qa_execUk/edit#slide=id.g1189351b0_4_0" target="_blank"><b>LINK</b></a>)
      <br />
      Piktograafia ajajoon
      (<a href="http://polygon.onkel.ee/merit/piktograafia/" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2013</dt>
    <dd>
      Isiksuse, identiteedi, imago kursus
      (<a href="https://docs.google.com/presentation/d/1-V1pYFhud7FYcxGtGJ5qnAlIV4eHS28kg2NtatFRQ4U/edit#slide=id.g1187bcf93_2_0" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2009</dt>
    <dd>
      Reklaam kui sotsiokultuuriline kommunikatsioon, õpiobjekt II
      (<a href="https://dspace.ut.ee/bitstream/handle/10062/14239/index.html" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2009</dt>
    <dd>
      Reklaam kui sotsiokultuuriline kommunikatsioon, õpiobjekt I
      (<a href="https://mobile.dspace.ut.ee/bitstream/handle/10062/14221/index.html" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
</dl>
