<div class="m-quote">
    “Teeme ära!” koristuskampaania projektijuhi definitsioon mõistele motivatsioon = eesmärk + kuuluvus 
</div>

<p>
    All on nimetatud teosed, mida loen ja mis on lugemisjärjekorras, ning veebilehed, mida jälgin:
    <br>
    <a href="https://www.amazon.com/Creativity-Happens-Brain-Dietrich-2015-08-12/dp/B01FKSPBOQ/" target="_blank">A. Dietrich, "How Creativity Happens in the Brain", 2015</a><br>
    <a href="https://www.amazon.com/Explaining-Creativity-Science-Human-Innovation/dp/0199737576/" target="_blank">R. K. Sawyer, "Explaining Creativity: The Science of Human Innovation", 2012</a> <br>  
    <a href="https://www.amazon.com/inGenius-Course-Creativity-Tina-Seelig/dp/0062020714" target="_blank">T. Seelig, "Ingenius: A Crash Course on Creativity", 2012</a><br>
    <a href="https://www.amazon.com/Creativity-Challenge-Experiment-Innovate-Inspire/dp/1440588333/" target="_blank">T. Christensen, "Creativity Challenge: Design, Experiment, Test, Innovate, Build, Create, Inspire, and Unleash Your Genius", 2012</a><br>
    <a href="https://www.amazon.com/Invention-Creativity-Modern-Society-Culture/dp/0745697046/" target="_blank">A. Reckwitz, "Invention of Creativity - Modern Society and  the Culture of the New: Modern Society and the Culture", 2017
        </a><br>
    <hr>
        
        
        
        
    
    <a href="http://www.theschooloflife.com/" target="blank">http://www.theschooloflife.com/</a><br>
    <a href="https://www.futurelearn.com/" target="blank">https://www.futurelearn.com/</a><br>
    <a href="https://www.khanacademy.org/" target="blank">https://www.khanacademy.org/</a><br>
    <a href="http://www.openculture.com/" target="blank">http://www.openculture.com/</a><br>
    <a href="https://novoed.com/creativity/highlight" target="blank">https://novoed.com/creativity/highlight</a>
</p>
