
<div class="m-quote">
  Koolitus USAs Lowell-Milkeni projektõppekeskuses viis mõttele, et ka Saaremaale võiks luua sarnase keskuse, kus Eesti õpetajad saavad nii koolituse kui ka järgnevaks õppeaastaks kaasa projekti, mis õpilastega ellu viia
</div>

<dl class="m-cv__dl">
  <li>
    <dt>2018</dt>
    <dd>
      esmaabikoolitus, Kuressaare Ametikool
      (<a href="assets/img/dokumendid/1801_esmaabi.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      projektõppekoolitus, Lowell Milken Centre for Unsung Heroes (26t), Fort Scott, USA
      (<a href="assets/img/dokumendid/1706_lowell-milken.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      arengut toetav juhtimine ja tagasiside praktika protsessis (26t), Tallinna Ülikool
      (<a href="assets/img/dokumendid/1705_ty_arengut-toetav-juhendamine.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      Varkey Teacher Ambassadors Leadership Summit, Varkey Foundation (16t), Dubai, AÜE
      (<a href="assets/img/dokumendid/1703_varkey_certificate.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      Global Education and Skills Forum, Dubai (16t), Dubai, AÜE
      (<a href="assets/img/dokumendid/1703_varkey_certificate.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      Global Education and Skills Forum (16t), Dubai, AÜE
      (<a href="assets/img/dokumendid/1602_varkey_certificate-of-attendance.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      stažeerimine režii ja montaaži alal ETVs, Märten Vaheri juhendamisel
      (<a href="assets/img/dokumendid/1612_err.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      tark meediasuhtlus (7t), OÜ Meediakool
      (<a href="assets/img/dokumendid/1604_osilia_tark-meediasuhtlus.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      režii, valgus, kaamera (10t), BMF, Tallinna Ülikool
      (<a href="assets/img/dokumendid/1604_ty_rezhii.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      fotoajakirjanduse ja video töötuba (26t), Stockholm School of Economics, Riia, Läti
      (<a href="assets/img/dokumendid/1605_riga.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2013</dt>
    <dd>
      C.L.I.L metodoloogia (53t), International Study Programmes, Ühendkuningriigid
      (<a href="assets/img/dokumendid/1302_international-study.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2012</dt>
    <dd>
      disainijuhtimise arengud ja praktikad (14t), Eesti Disanikeskus
      (<a href="assets/img/dokumendid/1205_disainikeskus_disainijuhtimine.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2012</dt>
    <dd>
      sissejuhatus teenusedisaini (7t), Velvet OÜ
      (<a href="assets/img/dokumendid/1205_disainikeskus_teenusdisain.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2012</dt>
    <dd>
      tulevik algab õpetajast (13t), e-õppe arenduskeskus
      (<a href="assets/img/dokumendid/1211_tulevik-algab.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2012</dt>
    <dd>
      disaini- ja kunstiharidus: vajadused ja väärtused (16t), Innove
      (<a href="assets/img/dokumendid/1208_kak_vajadused-vaartused.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2012</dt>
    <dd>
      kujunduse alused ja disaini ABC (2EAP), Tartu Kunstikool
      (<a href="assets/img/dokumendid/1203_tartu_kujunduse-alused.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2011</dt>
    <dd>
      parendusprojektide hindamine (52t), Eesti Kvaliteediühing
      (<a href="assets/img/dokumendid/1108_kvaliteediyhing.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2011</dt>
    <dd>
      väljundipõhine hindamine (26t), Kuressaare Ametikool/Einike Pilli
      (<a href="assets/img/dokumendid/1101_kak_valjundipohine-hindamine.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2011</dt>
    <dd>
      disaini õppekava rühma võrgustiku arendamine (16t), Riiklik Eksami- ja Kvalifikatsioonikeskus
      (<a href="assets/img/dokumendid/1105_spetsialistide-vorgustik.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2011</dt>
    <dd>
      arenguvestluse läbiviimine (16t), Kuressaare Ametikool/Anneli Kikkas
      (<a href="assets/img/dokumendid/1105_kak_arenguvestlus.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>
      2010-2011
    </dt>
    <dd>
      kutsepedagoogika täiendkoolituse õppekava (320t), Tallinna Ülikool
      (<a href="assets/img/dokumendid/1105_tly_kutsepedagoogika.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2010</dt>
    <dd>
      kõrgkooli sisemise kvaliteedikindlustamise protsess (104t), Tallinna Tehnikaülikool
      (<a href="assets/img/dokumendid/1005_tty_kvaliteedikindlustamine.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2010</dt>
    <dd>
      õppevideote loomine (78t), Tartu Ülikooli avatud ülikool
      (<a href="assets/img/dokumendid/1012_ty_oppevideote-loomine.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2010</dt>
    <dd>
      õpetaja kui õpilase juhendaja ja koostööpartner (8t), Tallinna Ülikooli Avatud Ülikooli Täiendõppekeskus
      (<a href="assets/img/dokumendid/1008_tly_opetaja-juhendaja.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2009</dt>
    <dd>
      vene keele kursus (60t), Kuressaare Rahvakool
      (<a href="assets/img/dokumendid/0912_vene-keel.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2009</dt>
    <dd>
      tootearendus (26t), Tartu Ülikooli Viljandi Kultuuriakadeemia
        (<a href="assets/img/dokumendid/0912_tootearendus_viljandi.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2007</dt>
    <dd>
      e-õppe kasutamine koolis (3AP), Tartu Ülikooli avatud ülikool
      (<a href="assets/img/dokumendid/0702_avatud_ylikool_e-ope.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2006</dt>
    <dd>
      IKT kasutamine õppetöös (2AP), Tartu Ülikooli avatud ülikool
      (<a href="assets/img/dokumendid/0612_avatud-ylikool_ikt.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>

</dl>

<p>
  Lowell Milken Centre for Unsung Heroes, projektõppe koolitus: samm-sammult isiku-uurimuse projekti läbiviimise koolitus juhendajatega, vestlusringides, iseseisva tööna, ning kaasa õppematerjal, mille järgi sügisel 2017 viin läbi projektõpet Kuressaare ametikooli disainisuunas. Tegu oli ka esimese läbitud koolitusega, mis oli nädalaks ajaks kokku pandud viiele inimese jaoks. Koolitusel oli väga suur rõhk pandud sellele, et õpetajad saaksid keskenduda ainult sisulisele tööle, omavahelistele aruteludele, meil oli kasutada omaette tööruum koos abipersonaliga. Koolituse õhkkond oli väga sundimatu, samas viimse kui üksikasjani läbimõeldud.
</p>

<p>
  IKT ja e-õppe kasutamine koolis: samm-sammult e-kursuse loomise koolitused, mis panid lisaks vormile sügavalt läbi mõtlema ja läbi töötama oma õppematerjalide sisu. Koolituse läbimine e-teel võimaldas õppida vastsündinud lapse kõrvalt, endale sobiva aja valides. Väga oluline oli see, et koolitusele suunas ja julgustas minema Tartu Kunstikooli direktor, ilma selleta oleksin suure tõenäosusega, vähemalt mõneks ajaks, õpetamisest loobunud. Tänu neile kahele koolitusele sain Saaremaalt Tartusse õpetada mitu aastat, ja kasutan kursust kohati siiani.
</p>
