<div class="m-quote">
  Õpilase tagasiside: “Eelkõige leian, et projektid arendasid tiimitööd ja oskust mitte karta uusi asju. Nii õppides võib ka väga lõbus olla. Teeksin neid kõiki projekte uuesti ja täpselt samade inimestega. Mulle väga meeldis, isegi natuke igatsen nende järgi. Nägin isegi ükskord unes, et tulin tagasi kooli.”
</div>

<dl class="m-cv__dl">
  <li>
    <dt>2017</dt>
    <dd>
      tunnistus “Lowell Milken Centre for Unsung Heroes Fellow Award”, Fort Scott City Commission, USA
      (<a href="assets/img/dokumendid/1706_lowell-milken.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      tänukiri panuse eest Kuressaare esimese vabakontori loomisel, MTÜ Loomemaja
      (<a href="assets/img/dokumendid/1705_edukontor.jpg" class="m-image-reveal__trigger"><b>TÄNUKIRI</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      tunnistus “Varkey Teacher Ambassador”, Varkey Foundation, AÜE
      (<a href="assets/img/dokumendid/1703_varkey_certificate.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2016</dt>
    <dd>
      Merci, Kuressaare ametikool! - tagasiside-kiri vilistlaselt (<a href="http://netzzzzz.blogspot.com.ee/2016/03/suur-tanu-kuressaare-ametikool.html?m=1" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2015</dt>
    <dd>
      tunnistus “Global Teacher Prize Top50 finalist”, Varkey Foundation, AÜE
      (<a href="assets/img/dokumendid/1502_varkey-finalist.jpg" class="m-image-reveal__trigger"><b>TUNNISTUS</b></a>)
    </dd>
  </li>
  <li>
    <dt>2015</dt>
    <dd>
      tänukiri õpilaste tulemusliku juhendamise eest, Saare maavalitsus, Saaremaa Omavalitsuste Liit
      (<a href="assets/img/dokumendid/1505_maavalitsus.jpg" class="m-image-reveal__trigger"><b>TÄNUKIRI</b></a>)
    </dd>
  </li>
  <li>
    <dt>2013</dt>
    <dd>
      tänukiri “Aasta kutseõppeasutuse õpetaja finalist”, Haridus- ja Teadusministeerium
      (<a href="assets/img/dokumendid/1310_hmin.jpg" class="m-image-reveal__trigger"><b>TÄNUKIRI</b></a>)
    </dd>
  </li>
  <li>
    <dt>2013</dt>
    <dd>
      tänukiri “Aasta õpetaja 2013”, Kuressaare ametikool
      (<a href="assets/img/dokumendid/1310_kak.jpg" class="m-image-reveal__trigger"><b>TÄNUKIRI</b></a>)
    </dd>
  </li>
  <li>
    <dt>2013</dt>
    <dd>
      tänukiri ajaloo- ja ühiskonnaõpetuse õpetajate sügisseminari panustamise eest, Eesti NATO Ühing
      (<a href="assets/img/dokumendid/1310_nato.jpg" class="m-image-reveal__trigger"><b>TÄNUKIRI</b></a>)
    </dd>
  </li>
  <li>
    <dt>2013</dt>
    <dd>
      tänukiri noorsootöö edendamise eest Saare maakonnas, aasta tegu 2013 nominent, Saare maavalitsus
      (<a href="assets/img/dokumendid/1311_maavalitsus.jpg" class="m-image-reveal__trigger"><b>TÄNUKIRI</b></a>)
    </dd>
  </li>
  <li>
    <dt>2013</dt>
    <dd>
      tänukiri panuse eest Saare maakonna 50. juubelilaulupeo korraldamisel, Saare maavalitsuse laulupeokomisjon
      (<a href="assets/img/dokumendid/1306_laulupidu.jpg" class="m-image-reveal__trigger"><b>TÄNUKIRI</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      kvaliteedimärk, e-kursus „Reklaam: piiridega loovus ja reeglitega mäng”
      (<a href="http://uudiskiri.e-ope.ee/?p=5365" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
  <li>
    <dt>2017</dt>
    <dd>
      „Aasta e-õppekursus“ kutsekoolide ja rakenduskõrgkoolide seas e-kursuse „Reklaam: piiridega loovus ja reeglitega mäng” väljatöötamise eest (<a href="http://uudiskiri.e-ope.ee/?p=6917" target="_blank"><b>LINK</b></a>)
    </dd>
  </li>
</dl>

<h4>
  Õpilaste tagasiside projektidele:
</h4>

<ul>
  <li><b>Õpilane nr 1:</b> “Tegime ametikoolis palju projekte, mida vahel väga taga igatsen. Võin, käsi südamel, öelda, et läbi projektide õppisin kindlasti paremini, kui niisama teooriat pähe õppides ning kontrolltöid tehes. Kõige väärtuslikum projektide juures oli kindlasti suhtlus ja koostöö kursusekaaslaste vahel (muidugi ka suhtlus õpetajatega) ja üldse pidev tiimitöö, mis meid edukate saavutusteni viis. Minu jaoks on tähtis see, et töö ei oleks tuim, vaid oleks ka nalja, ja seda meil jagus. Kui koostöö sujub ja tööprotsess on nauditav, siis, ausalt öeldes, ongi see kõige suurem jõud ühe eduka projekti taga - kõik muu tuleb iseenesest.”</li>
  <li><b>Õpilane nr 2:</b> “Kõik kooli projektid olid huvitavad, sest igale projektile pidi erinevalt lähenema. Kui esimestes projektides sai jaotatud, kes teeb mida, siis viimase pidi iseseisvalt tegema. Tänu sellele tundus mulle, et kooli viimane projekt võttis kõik eelneva õpitu kokku ning sai ennast testida, kui hästi on eelnevad õpingud ja projektid meeles.”</li>
  <li><b>Õpilane nr 3:</b> “Eelkõige leian, et projektid arendasid tiimitööd ja oskust mitte karta uusi asju (näiteks varem mulle ei meeldinud kaamera ees olla). Nii õppides võib ka väga lõbus olla. Teeksin neid kõiki projekte uuesti ja täpselt samade inimestega. Mulle väga meeldis, isegi natuke igatsen nende järgi. Nägin isegi ükskord unes, et tulin tagasi kooli.”</li>
  <li><b>Õpilane nr 4:</b> “Kooli viimane projekt oli minu jaoks suur ettevõtmine, sest see oli mu esimene iseseisev filmi tegemine. Tundsin, et minus toimus suur edasiareng. Filmi tehes mõistsin, et olen võimeline enda võimeid ületama isegi siis, kui puudub varasem suur kogemus filmitegemises.”</li>
</ul>

<h4>Õpetajale nähtav tagasiside õpilastelt Kuressaare ametikooli siseveebis ajavahemikul 2010-2017:</h4>

<ul>
  <li>Õpetaja on haruldaselt laia silmaringiga ja tundides oli teda väga huvitav kuulata.Aitäh.</li>
  <li>Oskan vaadata ka neid asju, mida enne tähele ei pannud. Väga hariv.</li>
  <li>Kokkupuude ainega toimus POP-UP poe raames, milles osalesin vaatamata sallele, et aine oli VÕTAga üle kantud. Tundus huvitav ja tahtsin lähemalt teada saada, mida selline üritus endast kujutab. Minu arvates valdab juhendaja teemat ja jätkaku samamoodi. Edu talle!</li>
  <li>Mulle meeldis, et oli palju praktilist tööd ja suhtlemist.</li>
  <li>Kõik tehti ilusti selgeks, toodi välja elulisi näiteid.</li>
  <li>Õpetaja suhtumine on super, hästi jutukas ja abivalmis ning oskab ainet huvitavaks teha, aga samas on ka väga õpetlik.</li>
  <li>Tunnid olid huvitavad ja tegime palju lahedaid projekte.</li>
  <li>Õpetaja seletamine, õpetaja olemasolemine ehk sai küsida ja kõik oli väga hea.</li>
  <li>Tore oli see, et olid erinevad projektid ning et kõik projektid erinesid üksteisest, mis arendas.</li>
  <li>Tunde oleks võinud rohkem olla.</li>
  <li>Kahju, et nii vähe tunde oli temaga!</li>
  <li>Liiga vähe tunde oli, oleks tahtnud veel midagi teha!</li>
  <li>Ühtegi negatiivset vastust pole. Kõik meeldis.</li>
  <li>Ei olnud midagi, mis ei meeldiks!</li>
</ul>
