<div class="m-quote">
  Iga ülesanne, iga töö peab algama läbimõtlemisega, mida, miks, mis eesmärgil, kelle jaoks, mille eest ja millise ajaga teen.
</div>

<p>
  Kujundaja spetsialiseerumisega liikuva graafika kujundaja rakenduskava:
  <a href="http://ametikool.ee/oppeinfo/mooduli-rakenduskavad/1323-kujundaja-liikuva-graafika-kujundaja-kutsekeskharidusope-moodulite-rakenduskava" target="_blank"><b>LINK</b></a>
</p>

<hr />

<h5>
  Kujundaja spetsialiseerumisega liikuva graafika kujundaja ülesannete kogu:
  (<a href="assets/img/KLG_kunst_kultuur_english_ylesanded.pdf" target="_blank"><b>PDF</b></a>)
</h5>

<hr />

<h5>
  Projekt “Punane”: Merit Karise imagoloomekursuse ja Anzelika Tolli fotograafiakursuse ühisprojekt
</h5>

<p>
  <b>Ülesandepüstitus:</b> luua paarides fotolavastus punaste paberist aksessuaaridega, modellidega, ruumis - eesmärgiga väljendada ühesuguse punase värviga, kuid andes sellele pabermaterjalina eri kuju, suurus, tekstuur, järgmisi emotsioone:
</p>
<ol>
  <li>
    Rõõmus, pulbitsev, õnnelik - Maris L ja Kaire
  </li>
  <li>
    Kuri, tige, vihane - Sandra ja Eliise
  </li>
  <li>
    Kurb, sünge, melanhoolne - Maris V ja Jaana
  </li>
  <li>
    Enesekindel, julge - Johanna ja Brita
  </li>
  <li>
    Õrn, tagasihoidlik, vaikne - Merite, Helle
  </li>
</ol>

<p>
  <b>Ülesande õpi-eesmärk:</b> õppida kasutama ja kujundama värvi/materjali selleks, et anda edasi planeeritud sõnum, emotsioon
</p>
<p>
  <b>Ülesande materjalid, töövahendid:</b> punane paber koolilt, lõikamisnoad, käärid endal. Modell ei pea olema ainult paberiga kaetud, võib kasutada riideid seljas. Ruumis D21 akna juures kapi peal on igale rühmale 3 suurt punast paberilehte, all riiulis igale rühmale 1 rull punast kreppi, jagada omavahel 4 pakki A4 punast paberit. Liimi, pulki, püstoleid saab juhtõpetajalt õpetajate toast.
</p>

<p>
  <b>Ülesande tingimused:</b>
  <ul>
    <li>
      põhiline emotsiooni kandev element on punasest paberist - kas üks mitmeosaline, või mitu üksikut elementi
    </li>
    <li>
      emotsiooni peavad kandma/toetama ka modelli hoiak, nägu, meik, kehakate, taust, valgus.
    </li>
    <li>
      kasutada erinevaid paberi töötlemise tehnikaid, 2Ds või 3Ds (voltimine, lõikamine, rebimine, eri suurused jne)
    </li>
  </ul>
  NB! Lavastus ei pea olema 100% punane, kuid - emotsiooni toob välja punane paberist element
</p>

<p>
  <b>Ülesande tööetapid:</b>
  <ol>
    <li>
      Meeleolulaua/laudade koostamine ja esitlemine Anzelikale ja Meritile: oma paari märksõnu ja paberi võimalusi väljendavad fotod. Võite teha ka rohkem meeleolulaudu kui 1, nt ühel on punase võimalused; teisel emotsiooni väljendavad elemendid; kolmandal paberi kasutamise erinevad võimalused. Kasuta otsingus nt sõnu paper art, installation, fashion, photo jne
    </li>
    <li>
      Kavandamine (vähemalt hariliku pliiatsiga paberile, punane osa punasega või ka muus tehnikas teostada), lõpliku kavandi esitlemine koos kirjalike põhjendustega (lühike lõik, kontseptsioon) Anzelikale ja Meritile.
    </li>
    <li>
      Fotografeerimiskoha otsimine, vajadusel kokkulepe koha omaniku ja modelliga
    </li>
    <li>
      Paberist aksessuaaride valmistamine, lisandite hankimine
    </li>
    <li>
      Modelli meikimine, riietamine, aksessuaaride lisamine, juhendamine, fotografeerimine
    </li>
    <li>
      Fotode töötlemine
    </li>
    <li>
      Valmis fotod laadida Google Drive'i ja FB üritusele, ka moodboard ja lõplik kavand
    </li>
    <li>
      Fotode esitlemine ja hindamine (Anzelika ja Merit)
    </li>
  </ol>
</p>

<p>
  <b>Ülesande hindamine:</b>
  <ul>
    <li>
      fotolt kui tervikult (kõigist selle elementidest) väljendub planeeritud emotsioon, kusjuures paberist elementidel on otsustav, kõige tähtsam roll emotsiooni edasiandmisel; teised elemendid (k.a modell) toetavad paberi esiletoomist
    </li>
    <li>
      paberist elemendid on korrektselt ja puhtalt valmistatud
    </li>
    <li>
      fotol olev valgus peab toetama paberist elementide esitlemist
    </li>
    <li>
      foto peab olema korrektselt säritatud, teravuspunkt peab fotol olema õiges kohas
    </li>
    <li>
      meeleolulaua(d), kavandid (võib panna ka lõplikule eelnevaid kavandeid, lõplik töödeldud foto) koos kontseptsiooniga on üles laetud FB albumisse ja Google Drive'i kausta (Merit tegi: <a href="https://drive.google.com/drive/folders/0B51wCUYG-xJXOF9BcjB3d3RKVUE" target="_blank" class="m-link--long">https://drive.google.com/drive/folders/0B51wCUYG-xJXOF9BcjB3d3RKVUE</a>)
    </li>
  </ul>
</p>

<p>
  <b>Näiteid kavanditest:</b>
</p>

<ul>
  <li>
    <a href="http://www.tfsimon.com/tfsimon-drawing-sada-Jacco-Paris-1908-3.jpg" target="_blank" class="m-link--long">http://www.tfsimon.com/tfsimon-drawing-sada-Jacco-Paris-1908-3.jpg</a>
  </li>
  <li>
    <a href="https://drawosaur.files.wordpress.com/2014/05/05-va-fools2.jpg" target="_blank" class="m-link--long">https://drawosaur.files.wordpress.com/2014/05/05-va-fools2.jpg</a>
  </li>
  <li>
    <a href="https://i.pinimg.com/736x/d8/d7/8c/d8d78c8d38326db222751bf0539c5622--sketch-theatre.jpg" target="_blank" class="m-link--long">https://i.pinimg.com/736x/d8/d7/8c/d8d78c8d38326db222751bf0539c5622--sketch-theatre.jpg</a> - see on liiga korralik joonistus, võib olla vähem viimistletud (punane osa punasega, kirjalik põhjendus kavandil juures)
  </li>
</ul>
<p>
  <b>Näited meeleolulaudadest:</b>
</p>
<ul>
  <li>
    saatuslik kirg <a href="http://pm1.narvii.com/6400/d7ff338b83b45ffa876a498db9b729b81d5f379d_hq.jpg" target="_blank" class="m-link--long">http://pm1.narvii.com/6400/d7ff338b83b45ffa876a498db9b729b81d5f379d_hq.jpg</a>
  </li>
  <li>
    helge retro argipäev <a href="https://static1.squarespace.com/static/559a4c35e4b07172a30e5f2e/t/576f8c626b8f5b047cff8475/1466990228873/Moodboard+Monday+%2306+-+Turquoise+%26+Red+-+www.garlicfriday.com" target="_blank" class="m-link--long">https://static1.squarespace.com/static/559a4c35e4b07172a30e5f2e/t/576f8c626b8f5b047cff8475/1466990228873/Moodboard+Monday+%2306+-+Turquoise+%26+Red+-+www.garlicfriday.com</a>
  </li>
</ul>
<p>
  <b>Näiteid kontseptsioonile</b> (teie kirjutate eesti keeles):
</p>
<ul>
  Triinu Pungitsa 2017 sügis/talv kollektsioon:
  <blockquote>
    The summer rebels in the night’s chill, in the rain’s freshness and in the excitement of a cloudy sky. The collection aggregates the darker side of the summer and concentrates on the weather that brings down many people, but when being dressed appropriately, such weather is an enriching and intoxicating experience. There’s lots of adventure, lots of information and lots of energy in a grey day, in a heavy drop of rain.
  </blockquote>
</ul>
