<div class="m-quote">
    Õpilase tagasiside: “Minu jaoks on tähtis see, et töö ei oleks tuim, vaid oleks ka nalja, ja seda meil jagus. Kui koostöö sujub ja tööprotsess on nauditav, siis, ausalt öeldes, ongi see kõige suurem jõud ühe eduka projekti taga - kõik muu tuleb iseenesest.”
</div>

<p>
    Video tööprotsessist, kuidas käis õppetöö reklaamvideo tegemisel Itaalia põllumajandusministeeriumi korraldatud rahvusvahelisele õpilaskonkursile tervisliku toidu propageerimiseks:
    <a href="https://www.youtube.com/watch?v=sFu8HVvy-y8" target="blank"><b>LINK</b></a>
</p>

<div class="flex-video widescreen">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/sFu8HVvy-y8" frameborder="0" allowfullscreen></iframe>
</div>

<hr>

<p>
    Video tööprotsessist, kuidas käis õppetöö lühifilmi tegemisel <a href="https://www.rode.com/myrodereel" target="blank">Rode</a> rahvusvahelisele konkursile.
    <a href="https://www.youtube.com/watch?v=61lR7_EWyGI" target="blank"><b>LINK</b></a>
</p>

<div class="flex-video widescreen">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/61lR7_EWyGI" frameborder="0" allowfullscreen></iframe>
</div>
